extends layout

block content
  #container
    #logo 
      img(src="/public/images/q.png", alt="Quilt")

    form#form(action="/generate", method="POST")
      .bit
        h1 Speaker
        select(data-placeholder="Choose a person...", name="topic", class="chosen-select")
          option(value="A") Paul Graham
          option(value="B") Barack Obama
          option(value="C") Hillary Clinton
          option(value="D") Bill Nye
          option(value="E") Neil deGrasse Tyson
          option(value="F") Edward Snowden
          option(value="zuckerberg") Mark Zuckerberg
          option(value="H") Steve Jobs
          option(value="I") Bill Gates
      .bit
        h1 Phrase
        textarea(name='body', placeholder="This app will win YC hacks")#content
      button#generate(type='submit', name='submit', value="submit") Generate