extends layout

block content
  #container
    #logo 
      a(href="#")
        img(src="/images/q.png", alt="Quilt")

    form#form(action="/generate", method="POST")
      .bit
        h1 Speaker
        select(data-placeholder="Choose a person...", name="topic", class="chosen-select")
          option(value="pg") Paul Graham
          option(value="Barack Obama") Barack Obama
          option(value="hilary") Hillary Clinton
          option(value="nye") Bill Nye
          option(value="snowden") Edward Snowden
          option(value="zuckerberg") Mark Zuckerberg
          option(value="jobs") Steve Jobs
          option(value="gates") Bill Gates
          option(value="bino") Childish Gambino
      .bit
        h1 Phrase
        textarea(name='body', placeholder="This app will win YC hacks")#content
      button#generate(type='submit', name='submit', value="submit") Generate
