extends layout

block content
  #container
    #logo
      #logocontainer Clippy
    #form(action="/generate", method="POST")
      .bit
        h1 Speaker
        select(data-placeholder="Choose a person...",class="chosen-select")
          option(value="A") Paul Graham
          option(value="B") Barack Obama
          option(value="C") Hillary Clinton
          option(value="D") Bill Nye
          option(value="E") Neil deGrasse Tyson
          option(value="F") Edward Snowden
          option(value="G") Arianna Huffington
          option(value="H") Steve Jobs
          option(value="I") Bill Gates
      .bit
        h1 Phrase
        textarea(placeholder="This app will win YC hacks")#content
      submit#generate Generate