extends layout

block content
  #container
    #logo
      #logocontainer Clippy
    #stage
      #outline
        #video
        #share 
          a#fb Share on Facebook
          a#tweet Share on Twitter
          a#link(href="#copy") http://clippy.fm/u1a23b823