extends layout

block content
  #container
    #logo
      img(src="/images/q.png", alt="Quilt")
    #stage
      #outline
        #controls.pause
        #players
          p#current-word
        .cf
        #share 
          a#fb(href="https://www.facebook.com/sharer/sharer.php?u=http://quilt.io/53de4cff2f4a6f0faea427a2") Share on Facebook
          a#tweet(href="https://twitter.com/home?status=Check%20out%20http://quilt.io/53de4cff2f4a6f0faea427a2%20it%20is%20%23STACKED") Share on Twitter
          a#link(href="#copy") http://quilt.io/53de4cff2f4a6f0faea427a2
  script.
    var input = !{words}

  | <script src="https://www.youtube.com/iframe_api"></script>
  | <script src="/javascripts/video.js"></script>
