@import "reset.less";
@import "elements.less";
@import "chosen.css";

@stiching: #818181;

html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 14px ProximaNova, "Gotham", Helvetica, Arial, sans-serif;
  background: url('../images/bg.png') repeat center center;

  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .cf:after {
      clear: both;
  }

  #container {
    width: 100%;
    z-index: 0;
    height: 100%;

    #logo {
      position: relative;
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      margin: 30px 0;

      img {
        height: 100%;
        display: block;
        margin: 0 auto;
      }
    }

    @form-w: 500px;
    #form {
      width: @form-w;
      padding: 30px;
      background-color: white;
      margin: 0 auto;
      display: block;
      border: 2px dashed @stiching;
      border-radius: 4px;
      box-shadow: 0 0 0 4px white, 2px 1px 6px 4px rgba(0, 0, 0, 0.1);

      .bit {
        width: 100%;
        display: block;

        h1 {
          font-size: 16px;
          padding-bottom: 2px;
          color: white;
          text-transform: uppercase;
        }
 
        .chosen-select {
          width: 100%;
          line-height: 40px;
          height: 40px;
          padding: 10px;
        }

        .chosen-single {
          border-radius: 0;
          height: 40px;
          line-height: 40px;
          background: none;
          background-color: white;
          box-shadow: none;
          border: 0;
          border-bottom: 2px dashed @stiching;
          span {
            font-size: 16px !important;
          }
        }

        .chosen-container .chosen-drop {
          border: none;
          border: 2px dashed @stiching;
          padding: 5px;
          box-shadow: 0 0 0 4px white, 2px 1px 6px 4px #fff;
        }

        .chosen-results {
          font-size: 15px;
          li {
            padding-bottom: 5px;
          }
        }

        #content {
          width: @form-w - 22px;
          height: 300px;
          font-family: ProximaNova, "Gotham";
          color: black;
          font-size: 18px;
          padding: 10px;
          line-height: 1.5;
          outline: none;
          border-radius: 4px;
          resize: none;
          border: 2px dashed @stiching;
        }

        padding-bottom: 30px;

      }

      #generate {
        width: 100%;
        display: block;
        padding: 20px;
        color: white;
        outline: none;
        cursor: pointer;
        background-color: #27AE60;
        font-size: 20px;
        border: 2px dashed #D5F7E3;
        border-radius: 4px;
        box-shadow: 0 0 0 4px #27AE60, 2px 1px 6px 4px rgba(0, 0, 0, 0.1);

        .transition();

        &:hover {
          background-color: darken(#2FC66E, 5%);
        }
      }
    }

    #stage {
      width: 860px;
      margin: 0 auto;
      @width: 98%;
      @height: 480px;
      z-index: 1;

      #outline {
        height: @height+40px;
        position: relative;

        #controls {
          width: @width;
          height: @height+40px;
          position: absolute;
          z-index: 100000000000000000000;
          
          &.pause {
            a {
              display: block;
            }
          }

          a {
             display: none;
             width: 0;
             height: 0;
             border-left: 100px solid white;
             border-top: 50px solid transparent;
             border-bottom: 50px solid transparent;
             margin: 200px auto 0;
          }
        }


        #players {
          height: @height+40px;
          width: 100%;

          #current-word {
            color: white;
            bottom: 15px;
            width: 100%;
            position: absolute;
            z-index: 10000;
            font-size: 65px;
            text-align: center;
            vertical-align: bottom;
          }
        }

        .video {
          border: 2px dashed #363636;
          padding: 4px 1%;
          position: absolute;
          border-radius: 4px;
          box-shadow: 0 0 0 4px black, 2px 1px 6px 4px rgba(0, 0, 0, 0.1);
          margin: 0 auto;
          width: @width;
          height: @height+30px;

          background: black;
        }
      }

      #share {
        font-size: 16px;
        margin-top: 50px;
        padding-bottom: 20px;
        width: auto;
        color: white;
        position: relative;
        
        a {
          padding: 15px 30px;
          display: inline-block;
          cursor: pointer;
        }

        #fb {
          background-color: #3B5998;
          margin-right: 20px;
          border: 2px dashed #8B9DC3;
          border-radius: 4px;
          box-shadow: 0 0 0 3px #3B5998, 2px 1px 4px 4px rgba(0, 0, 0, 0.1);
          color: white;
          text-decoration: none;

          &:hover, &:visited, &:active {
            color: white;
            text-decoration: none;
          }

        }

        #tweet {
          background-color: #459ECE;
          border: 2px dashed #BEDFF0;
          border-radius: 4px;
          box-shadow: 0 0 0 3px #459ECE, 2px 1px 4px 4px rgba(0, 0, 0, 0.1);

          color: white;
          text-decoration: none;

          &:hover, &:visited, &:active {
            color: white;
            text-decoration: none;
          }
        }

        #link {
          float: right;
          background-color: rgba(0,0,0,.1);
          color: #d8d8d8;
          text-decoration: none;
          cursor: pointer;
          margin-right: -6px;
          outline: none;
          .transition();
          margin-top: -5px;
          padding: 20px 30px;

          &:hover {
            text-decoration: none;
            color: white;
            background-color: rgba(0,0,0,.3);
          }
        }
      }
  
    }

    #error {
      text-align: center;
      color: #ecf0f1;

      #number {
        font-size: 380px;
      }

      #description {
        font-size: 80px;
      }
    }
  }
}
