body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 14px "Proxima Nova", Helvetica, Arial, sans-serif;

  #container {
    width: 100%;
    height: 100%;
    background-color: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}